.GonggongNav {
  $nav-height: 70px;
  position: relative;
  min-height: $nav-height;
  background-color: white;
  // overflow: hidden;
  
  .GonggongNav__wrap {
    max-width: 1280px;
    margin: 0 auto;
  }

  .GonggongNav__logo {
    $logo-height: 40px;
    display: block;
    float: left;
    height: $logo-height;
    position: relative;
    padding: #{($nav-height - $logo-height) / 2} 0;
    img {
      height: $logo-height;
    }
  }

  .GonggongNav__menu-container, .GonggongNav__submenu-container {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }

  .GonggongNav__menu-container {
    .GonggongNav__menu-item {
      $menu-item-width: 100px;
      display: block;
      width: $menu-item-width;
      min-height: $nav-height;
      line-height: $nav-height;
      padding: 0 20px;
      position: relative;
      text-align: center;
      font-size: 16px;
      font-weight: 600;

      .GonggongNav__submenu-container {
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: max-height 1.5s;

        .GonggongNav__submenu-item {
          $submenu-item-height: 30px;
          width: $menu-item-width;
          height: $submenu-item-height;
          line-height: $submenu-item-height;
          font-size: 12px;
        }
      }

      &:hover {
        .GonggongNav__submenu-container {
          max-height: 300px;
        }
      }

      a {
        text-decoration: none;
        color: #898d96;

        &:hover {
          color: #1e71e8;
        }
      }
    }
  }

  &::after {
    content: '';
    clear: both;
    display: block;
  }
}